<nav id="zpr-sidebar-portlet">
	{{#data-portlets-sidebar}}
	{{#data-portlets-first}}{{>partials/Sidebar_Portlet}}{{/data-portlets-first}}
	{{#array-portlets-rest}}{{>partials/Sidebar_Portlet}}{{/array-portlets-rest}}
	{{/data-portlets-sidebar}}
</nav>