<li>
    {{number}} <a href="#{{anchor}}">{{line}}</a>
    {{#is-parent-section}}
    <ul>
        {{#array-sections}}
        {{>content/TableOfContents__line}}
        {{/array-sections}}
    </ul>
    {{/is-parent-section}}
</li>
