@background-color-warning: #0c281a;
@background-color-base: #ffffff;
@background-color-article: #ffffff;
@background-color-thumb: #0c281a;
@color-thumb: #85adb9;
@color-base: #000000;
@color-gray: #c9c9c9;
@color-gray-2: #8998df;
@color-link: #db89c0;
@color-link--active: #d576b5;
@color-link--visited: #d880ba;
@font-family: 'Roboto',-apple-system,BlinkMacSystemFont,'Segoe UI','Oxygen','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
@icon-filter: invert(0.3);
@color-link-new: @color-link;
@color-link-stub: @color-link;
@color-link-external: @color-link;
@color-link-new--visited: @color-link--visited;
