<footer id="zpr_footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
    <div class="zp-container zp-spacing">
        {{#data-footer}}
        {{!}}{{#data-icons}}{{>footer/FooterList}}{{/data-icons}}
        {{!}}<div id="footer-list">
        {{!}}{{#data-info}}{{>footer/FooterList}}{{/data-info}}
        {{!}}{{#data-places}}{{>footer/FooterList}}{{/data-places}}
        {{!}}</div>
        {{/data-footer}}
      </div>
</footer>
