@import 'mediawiki.skin.variables';
@import 'variables.less';

/* ***** 기본 기능 인터페이스에 대한 보정 ***** */

/* *** 기본 기능 인터페이스에 대한 보정 *** */
/* 특수 문서, 편집 화면 등 */
body.ns-special, body.action-edit {
    /* input의 글자 크기 14px -> 16px로 조정. 모바일 확대 방지. */
    .oo-ui-textInputWidget .oo-ui-inputWidget-input {
        font-size: @font-size-medium;
        padding-top: 4px;
        padding-bottom: 4px;
        height: 2em;
    }
}


/* *** '특수 문서'에 대한 인터페이스 보정 *** */
body.ns-special {
    line-height: 1.6;

    /* '특수:특수문서', '특수:버전'의 소제목의 상단 여백 */
    &.ns-special.mw-special-Specialpages, &.mw-special-Version {
        .mw-body-content > h2 {
            margin-top: 1em;
        }
    }

    /* '특수:올리기' 문서 */
    &.mw-special-Upload {
        @media ( max-width: calc(@width-breakpoint-tablet - 1px) ) {
            .mw-body-content .mw-htmlform {
                /* 파일 업로드 화면에 600px 이하에서 깨지므로 보정 */
                .mw-input input[name='wpDestFile'] {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }

    /* '특수:버전' 문서 */
    &.mw-special-Version {

        @media ( min-width: @width-breakpoint-tablet ) {
            /* '특수:버전'문서의 표의 '저자'의 폭 줄임. */
            .mw-version-ext-authors {
                min-width: 10em;
                max-width: 15em;
            }
        }

        @media ( max-width: calc(@width-breakpoint-tablet - 1px) ) {
            /* '특수:버전' 문서에서 테이블의 responsive fix */
            table.wikitable {
                display: block;
                overflow-x: auto;
                overflow-y: hidden;
                border: 0;
                background-color: inherit;

                /*
                tbody {
                    background-color: #f8f9fa;
                }
                */

                th, td {
                    white-space: nowrap
                }

                &#sv-ext {
                    th[colspan="5"]{
                        text-align: left;
                        padding-left: 0.5em;
                    }
                }
            }
        }
    }

}


/* 편집 화면 */
.mw-body-content .mw-editform {
    .wikiEditor-ui .wikiEditor-ui-text textarea {
        font-size: @font-size-medium;
        color: @color-text-base;
        background: @color-bg-base;
    }
    .wikiEditor-ui-toolbar {
        background: var(--color-bg-editor-ui-toolbar);

        .tabs span.tab a.current, .wikiEditor-ui-toolbar .tabs span.tab a.current:visited {
            color: var(--color-text-editor-ui-toolbar);
        }
        .group .label {
            color: var(--color-text-editor-ui-toolbar-secondary);
        }
        .tabs span.tab a {
            color: @color-link-base;
        }
    }

    .editOptions {
        /* 편집 화면의 하단, 요약, 사소한 편집 등이 나타나는 영역 */
        font-size: @font-size-small;

        /* 색상 */
        background-color: @color-bg-secondary;
        color: inherit;

        #editpage-copywarn {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
    .wikiEditor-ui-toolbar {
        /* 에디터의 툴바 부분 */
        font-size: @font-size-small;
    }
    .mw-editTools {
        font-size: @font-size-small;
    }
}


/* ***** 극단적으로 작은 화면에 대한 보정 ***** */
/* 폭 280px를 최소의 마지노선으로 보고 있음. */
/* 매우 작은 사이즈에 대해 특수하게 fix하는 부분 */
@media screen and (max-width: 300px) {
    /* 이제는 안 쓰는 듯함 */
    /* 290으로 되어있는 것을 변경함 */
    /*
    .mw-ui-vform {
        width: inherit;
    }
    */

    /* '최근 목록', '주시목록 최근 바뀜', '가리키는 글의 최근 바뀜' 등에서 화살표가 나타날 수 있는 공간. 15px 정도인데, 공간 아끼려고.. */
    .mw-enhancedchanges-arrow-space {
        width: 0; /* 15px인데, 아끼려고.. */
    }
}

/* 가리키는 글의 최근 바뀜 */
body.ns-special.mw-special-Recentchangeslinked {
    /* 380 이하의 매우 작은 화면에서 깨지는 것 보정 */
    @media screen and (max-width: 380px) {
        /* 가리키는 글의 최근 바뀜 - 문서이름 */
        .mw-recentchanges-table .targetForm .mw-input input[name="target"]{
            width: 100%;
        }
    }
}


/* *** 색상 등과 관련되어서 *** */
body.skin-zephyr {
    .wikitable {
        background-color: inherit;
        color: inherit;

        th {
            background-color: @color-bg-wikitable-heading;
            color: @color-text-base;
        }
        > tr > th, > tr > td, > * > tr > th, > * > tr > td {
            border-color: @color-border-secondary;
        }
    }


    pre {
        background-color: @color-bg-tertiary;
        color: inherit;
        border-color: @color-border-tertiary;
        border-radius: 0.5em;
    }

    .catlinks {
        /*background-color: @color-bg-tertiary;*/
        background-color: inherit;
        border-color: @color-border-secondary;
        font-size: @font-size-small;
    }

}

:root[data-theme='dark'] {
    body.skin-zephyr {
        .mw-search-profile-tabs {
            background-color: @color-bg-tertiary;
        }

        #mw-searchoptions {
            background-color: @color-bg-tertiary;
        }

        .search-types .current a {
            color: @color-link-base;
        }

        .oo-ui-textInputWidget .oo-ui-inputWidget-input {
            background-color: inherit;
        }
        .suggestions-results {
            background-color: @color-bg-base;
            color: @color-text-base;
        }
        .suggestions a.mw-searchSuggest-link, .suggestions a.mw-searchSuggest-link:hover, .suggestions a.mw-searchSuggest-link:active, .suggestions a.mw-searchSuggest-link:focus {
            color: @color-text-base;
        }
        .suggestions-result {
            color: @color-text-base;
        }
        .suggestions-special {
            background-color: @color-bg-base;
            color: @color-text-base;
        }
        .suggestions-special .special-query {
            color: @color-text-base;
        }
        .suggestions-result-current {
            background-color: #223c71;
        }
        .oo-ui-menuSelectWidget {
            background-color: @color-bg-base;
        }
        .oo-ui-textInputWidget .oo-ui-inputWidget-input {
            color: @color-text-base;
        }
    }
}
