{{>content_header/ContentIndicators}}
<div class="zp-content-header">
    {{>content_header/ContentHeading}}
    {{^is-anon}}
    <div class="zp-header-actions">
        {{>content_header/ContentActions2}}
    </div>
    {{/is-anon}}
</div>
{{>content_header/ContentTagline}}
