<header id="header">
  {{>LayoutHeader}}
</header>
{{>el/Notices}}
<div class="zpr-content-wrapper zpr-container">
  <div class="zp-content-section">
    <main id="content" class="mw-body">
      <header class="content__header">
        {{>content_header}}
      </header>
      <div id="bodyContent" data-mw-ve-target-container>
        {{>content/ContentBody}}
      </div>
    </main>
    {{#data-toc}}{{>content/TableOfContents}}{{/data-toc}}
  </div>
  {{>sidebar/Sidebar}}
</div>
<hr class="zpr-bottomline">
<nav>
  {{>el/Languages}}
</nav>
{{>footer/Footer}}
