<script>
(function(){
  var theme = localStorage.getItem("theme") === "dark" ? "dark" : ""
  document.querySelector("html").setAttribute("data-theme", theme)
})();
</script>
<header id="header">
    {{>LayoutHeader}}
</header>
{{>el/Notices}}
<div class="zp-content-wrapper zp-container">
    <div class="zp-content-section">
        <main id="content" class="mw-body">
        <header class="content__header">
            {{>content_header}}
        </header>
        <div id="bodyContent" data-mw-ve-target-container>
            {{>content/ContentBody}}
        </div>
        </main>
        {{#data-toc}}{{>content/TableOfContents}}{{/data-toc}}
    </div>
    {{>sidebar/Sidebar}}
</div>
<hr class="zp-layout-bottom-line">
<nav>
    {{>el/Languages}}
</nav>
{{>footer/Footer}}
