<header id="header">
	<div class="zpr-container">
		<div class="mw-header">
			{{>Logo}}
			{{>Notifications}}
			{{>Dropdown}}{{>PersonalMenu}}
			{{>Search}}
		</div>
	</div>
</header>
{{>Notices}}
<main id="content" class="mw-body zpr-container">
	<header class="content__header">
		{{>ContentIndicators}}
		{{>ContentHeading}}
		{{>ContentNamespaces}}
		{{>ContentActions}}
	</header>
	{{>ContentBody}}
	{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
</main>
{{>partials/Sidebar}}
<nav>
	{{>Languages}}
</nav>
{{>Footer}}
