<li>
    {{number}} <a href="#{{anchor}}">{{line}}</a>
    {{#array-sections.0}}
    <ul>
    {{#array-sections}}
    {{>TableOfContents__line}}
    {{/array-sections}}
    </ul>
    {{/array-sections.0}}
</li>
